@import url('https://fonts.cdnfonts.com/css/montreal');
@import 'tailwindcss';

:root {
	/* Color Palette */
	--navy-dark: #0f172a; /* Primary / Headers */
	--slate-blue: #475569; /* Secondary text */
	--snow-white: #ffffff; /* Main background */
	--alice-blue: #e2e8f0; /* Section / card background */
	--teal-accent: #14b8a6; /* Primary accent */
	--emerald-accent: #10b981; /* Success / CTA */
	height: 100%;
	/* Font Family */
	--font-primary: 'Montreal', sans-serif;
}

body {
	margin: 0;
	font-family: var(--font-primary);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: var(--snow-white);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
